<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profil" href="/tabs/profil">
      <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="kurz" href="/tabs/kurz">
      <ion-icon aria-hidden="true" name="analytics-outline"></ion-icon>
      <ion-label>Kurzová kalkulačka</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" href="/tabs/history">
      <ion-icon aria-hidden="true" name="archive-outline"></ion-icon>
      <ion-label>História</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
