<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Úprava profilu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Úprava profilu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    

    <ion-row>
      <ion-col size="12">
        <!-- Meno -->
        
        <ion-input 
        label="Meno" 
        label-placement="floating" 
        fill="outline" 
        placeholder="Zadajte meno"
        [(ngModel)]="meno" 
        type="text"></ion-input>
        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <!-- Priezvisko -->
        
        <ion-input label="Priezvisko" label-placement="floating" fill="outline" placeholder="Zadajte priezvisko"
            [(ngModel)]="priezvisko" 
            type="text"
            ></ion-input>
        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <!-- Telefón -->
        
        <ion-input label="Telefón" label-placement="floating" fill="outline" placeholder="Zadajte telefón"
            [(ngModel)]="telefon" 
            type="text"
            ></ion-input>
        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <!-- Email -->
        
        <ion-input label="Emal" label-placement="floating" fill="outline" placeholder="Zadajte email"
            [(ngModel)]="email" 
            type="email"
            ></ion-input>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="full" (click)="save()">Uložiť</ion-button>
      </ion-col>  
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="full" (click)="back()">Späť</ion-button>
      </ion-col>  
    </ion-row>


  </ion-grid>
</ion-content>
